:root {
  --main-bg-color: #e84393;
  --main-text-color: #e84393;
  --second-text-color: #333;
  --second-bg-color: #c1efde;
}
.boton {
  display: inline-block;
  margin-top: 0.1rem;
  border-radius: 1rem;
  background: #333;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
.boton:hover {
  background: var(--main-bg-color);
  color: #fff;
}
