:root {
    --pink: #e84393;
  }
  
  .icons a {
    text-decoration: none;
    color: rgb(51, 51, 51);
  }
  
  .icons a:hover {
    color: var(--pink);
  }
  
  .icons #toggler {
    display: none;
  }
  
  .fa-bars {
    color: #333;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
  }
  
  .fa-bars a:hover {
    color: var(--pink);
  }
  
  section {
    padding: 1rem 9%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
  }
  
  nav {
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  nav .logo {
    color: #333;
    font-weight: bolder;
  }
  
  nav .logo span {
    color: var(--pink);
  }
  
  nav .navbar a {
    text-decoration: none;
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
  }
  
  .icono1 {
    font-size: 2rem;
  }
  
  .icono1:hover {
    color: var(--pink);
  }
  
  .icono2 {
    font-size: 2.5rem;
  }
  
  .icono2:hover {
    color: var(--pink);
  }
  
  .offcanvas-title span {
    color: var(--pink);
  }
  
  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
  }
  
  .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    border-color: var(--pink);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
  
  /* BANNER */
  .banner {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../img/home/ej7.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    background-position: center center;
  }
  
  .banner h3 {
    margin-top: 5rem;
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
  }
  
  .banner span {
    font-size: 2rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
  }
  
  .banner p {
    font-size: 0.9rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .banner .boton {
    display: inline-block;
    margin-top: 0.1rem;
    border-radius: 1rem;
    background: #333;
    color: #fff;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .banner a {
    text-decoration: none;
  }
  
  .banner .boton:hover {
    background: var(--pink);
  }
  
  /* PORTAFOLIO */
  .section-padding {
    padding: 0.1rem 0;
  }
  
  .heading {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, 0.05);
  }
  
  .heading span {
    color: var(--pink);
  }
  
  .content {
    margin-top: 4rem;
  }
  
  .portafolio .row .content h3 {
    font-weight: bold;
    font-size: 2rem;
    color: #333;
  }
  
  .portafolio .row .content p {
    font-size: 1rem;
    color: #999;
    padding: 0.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
  }
  
  .portafolio .content .boton 
  {
    display: inline-block;
    margin-top: 0.1rem;
    border-radius: 1rem;
    background: #333;
    color: #fff;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .link 
  {
    text-decoration: none;
  }
  
  .portafolio .content .boton:hover 
  {
    background: var(--pink);
  }
  
  .imagenes {
    width: auto;
    height: auto;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }
  
  .imagenes h3 
  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
  }
  
  /* PRODUCTOS */
  .products .card-img-top 
  {
    padding: 20px;
  }
  
  .products .card .card-img-top img 
  {
    height: 25rem;
  }
  
  .products .card:hover img
  {
    transform: scale(1.1);
  }

  .card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  }
  
  .card .aviso {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--pink);
    background: rgba(255, 51, 153, 0.05);
    z-index: 1;
    border-radius: 0.5rem;
  }
  
  .card-body {
    padding: 25px;
    margin-top: -15px;
  }
  
  .card .card-text a {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
  }

  .card .card-text a:hover {
    color: var(--pink);
  }
  .price {
    font-size: 1.5rem;
    color: var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
  }
  
  .price span {
    font-size: 1rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
  }
  
  .products .card .icons {
    display: flex;
  }
  
  .card .icons a {
    /* height: 5rem; */
    line-height: 5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--pink);
  }
  
  .card .icons a:hover {
    color: black;
  }
  
  .card .icons .bi-bag-heart-fill {
    border-left: 0.9rem;
    border-right: 0.9rem;
    width: 100%;
  }
  
  /* CONTACTANOS */
  
  /* FOOTER */
  footer {
    background: #fff;
    padding: 86px 0;
  }
  
  .single-content {
    text-align: center;
    padding: 115px 0;
  }
  
  .single-box p {
    color: #333;
    margin-top: 1rem;
  }
  
  .single-box ul {
    list-style: none;
    padding: 0;
  }
  
  .single-box ul li a {
    text-decoration: none;
    color: #333;
    line-height: 2.5;
    font-weight: 100;
  }
  
  .single-box ul li a:hover {
    text-decoration: underline;
    color: var(--pink);
  }
  
  .single-box h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  #basic-addon2 {
    background: var(--pink);
    color: #333;
  }
  
  .socials i {
    font-size: 1rem;
    margin-right: 15px;
  }
  
  .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 1rem;
    color: #333;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  
  .credit span {
    color: var(--pink);
  }
  
  /* RESPONSIVE */
  @media (max-width: 991px) {
    .banner h3 {
      margin-top: 9rem;
    }
  
    .sidebar {
      background-color: #fff;
    }
  
    .banner {
      background-position: left;
    }
  
    section {
      padding: 2rem;
    }

    .products .card .price {
      font-size: 1.2rem;
      color: var(--pink);
      font-weight: bolder;
      padding-top: 1rem;
    }
  
    .products .card .price span {
      font-size: 0.9rem;
      color: #999;
      font-weight: lighter;
      text-decoration: line-through;
    }
  
    .products .card .icons a {
      /* height: 5rem; */
      line-height: 2rem;
      text-decoration: none;
      font-size: 0.85rem;
      font-weight: bold;
      color: var(--pink);
    }
  }
  
  @media (max-width: 768px) {
    .banner h3 {
      margin-top: 5rem;
      font-size: 3rem;
    }
  
    .banner span {
      font-size: 1.5rem;
    }
  
    .banner {
      background-position: left;
    }
  
    .single-box h2 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 767px) {
    .single-box {
      margin-bottom: 50px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .single-box {
      margin-bottom: 50px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .nav-item a {
      font-size: 0.9rem;
    }
  
    .group {
      display: flex;
      line-height: 28px;
      align-items: center;
      position: relative;
      max-width: 100px;
    }
  
    .input {
      width: 100%;
      height: 40px;
      line-height: 28px;
      padding: 0 1rem;
      padding-left: 2.5rem;
      border: 2px solid transparent;
      border-radius: 8px;
      outline: none;
      background-color: #f3f3f4;
      color: #0d0c22;
      transition: 0.3s ease;
    }
  
    .input::placeholder {
      color: #9e9ea7;
      font-size: 0.8rem;
    }
  
    .input:focus,
    input:hover {
      outline: none;
      border-color: var(--pink);
      background-color: #fff;
      box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }
  
    .icon {
      position: absolute;
      left: 1rem;
      fill: #9e9ea7;
      width: 1rem;
      height: 1rem;
    }
  }
  