:root 
{
    --pink: #e84393; /* o cualquier otro valor de color que desees */
}

h1.titu
{
    margin-top: 70px;
}

img.pro
{
    justify-content: center;
    margin:1rem; 
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 250px;
}

img.verproductoimagen
{
    width: auto;
    height: auto;
  max-width: 300px;
  max-height: 500px;
}

img.pro:hover
{
    transform: scale(1.1);
}

.product-title 
{
    max-height: 3.6em;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: normal; 
}


div.cont
{
    margin: 500px;
}

div.precio
{
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    left: 50%; 
    transform: translate(-50%, 0);
}

div.mar
{
    margin-bottom: 3rem;
    border: 0;
}

.tcategoria
{
    text-decoration: none;
    color: #333;
}

.tcategoria:hover
{
    color: #e84393;
}

.categoria
{
    color: #333;
    font-weight: bolder;
}

.margindiv
{
    margin-top: 5rem;
}

.boton1
{
  display: inline-block;
  margin-top: 0.1rem;
  border-radius: 1rem;
  background: #333;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  width: 18rem;
  height: 3rem;
}

.boton1:hover 
{
  background: #e84393;
  color: #fff;
}

.botonescantidad
{
    width: fit-content;
    border: 0.8px solid #333;
}

.btncantidad
{
    font-weight: bold;
}
  
