h1.titu
{
    margin-top: 70px;
}

img.pro
{
    margin:auto; 
    width: 100px;
    height: 250px;
}

.product-title 
{
    max-height: 3.6em;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: normal; 
}


div.cont
{
    margin: 500px;
}

div.precio
{
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translate(-50%, 0);
}

div.mar
{
    margin-bottom: 3rem;
    border: 0;
}
