.nav-container {
  display: flex;
  align-items: center;
  width: auto;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
}

.nav-items-container {
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  transition: transform 0.3s ease;
}

.nav-items li {
  flex: 0 0 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: relative;
}

.nav-button {
  cursor: pointer;
  color: #333;
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
}

.prev-button {
  background-color: transparent;
  order: -1;
}

.next-button {
  background-color: transparent;
  order: 2;
}

.nav-items li .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  display: none;
  z-index: 1000;
}

.nav-items li:hover .dropdown-menu {
  display: block;
}

.nav-items li .dropdown-menu li {
  padding: 5px 10px;
  color: #fff;
}

.nav-items li .dropdown-menu li a {
  color: #fff;
  text-decoration: none;
}

.nav-items li .dropdown-menu li:hover {
  background-color: #8a2be2;
}
